<select box></select>

<div id='previous'>
	<button id="<%#= @numbers.first.created_at.to_i %>"><</button>
</div>

<div id='next'>
	<button id="<%#= @numbers.last.created_at.to_i %>">></button>
</div>

<canvas id="myChart" width="1200" height="400"></canvas>

<table border='1' id='body-cells'>
<tr>
	<th>Beginning of Time Period</td>
	<th>End of Time Period</td>
	<th>Number of Jumping Jacks</td>

</tr>

</table>

<script type="application/json" id="first-set">
	<%# Get the last ten dots %>

	<%= @numbers.to_json.html_safe %>
</script>

<script type="application/json" id="beginning">
	<%# Get date minus (six) %>
</script>

<script type="application/json" id="ending">
	<%# Get date %>
</script>