<img src='images/logo.png'>

<div id='menu'>
<span class='fake-link'>Home</span> <span class='fake-link'>Our Shows</span> <span class='fake-link'>Sign Up</span> <span class='fake-link'>Privacy Policy</span>
</div>

<h2>Our Data</h2>

<p>Number of subscribers (in units of one million) tuned into our channel.</p>

<h2 id='period-title'></h2>

<form>
<p><input value="MM/DD/YYYY"><button type="submit">></button> <span>Invalid date</span> </p>
</form>


<div id='previous'>

</div>

<div id="selector-container-parent">
<p  id="selector-container">View by:

 <select>
 	<option>minute</option>
 	<option>hour</option>
 	<option selected="selected">day</option>
 	<option>month</option>
 	<option>year</option>
</select></p>

</div>


<div id='next'>

</div>



<canvas id="myChart" width="1200" height="400"></canvas>

<table border='1' id='body-cells'>
<tr>
	<th>Beginning of Time Period</td>
	<th>End of Time Period</td>
	<th>Number of Viewers (in Millions)</td>

</tr>

<tr id='child-cell'></tr>


</table>

<script type="application/json" id="first-set">
	<%# Get the last ten dots %>

	<%= @numbers.to_json.html_safe %>
</script>

<script type="application/json" id="beginning">
	<%= @numbers['from'].to_json.html_safe %>
</script>

<script type="application/json" id="ending">
	<%= @numbers['to'].to_json.html_safe %>
</script>