<h1>Kim's Training Blog</h1>
<p>Training to beat the world record of 61 jumping jacks in one minute.</p>

<a href="#">Home</a> <a href="#">Blog</a> <a href="#">About Me</a>

<h2 id='period-title'></h2>



<div id='previous' style="float:left; width:30%">

</div>
<!-- <div style="margin: 0 auto; width:300px; float:left; padding:0"> -->
<!-- <div style="text-align: center;position:relative;left:-50%;float:right;"> -->
<div style="text-align: center;">

<p style="margin: 0 auto; width:300px; float:left; padding:0; display: block;">View by:
<!-- <p style="margin: 0 auto; width:300px; float:left; padding:0; display: block; position:relative;left:50%;">View by: -->
<!-- <p style="padding:0; margin: 0 auto; display: block">View by: -->
 <select>
 	<option></option>
 	<option>Minute</option>
 	<option>Hour</option>
 	<option>Day</option>
 	<option>Month</option>
 	<option>Year</option>
</select></p>

</div>

<!-- <div id='next' style="float:right; width:300px; text-align: right; padding-right:50px;"> -->
<div id='next' style="float:right; width:300px; ">

</div>



<canvas id="myChart" width="1200" height="400"></canvas>

<table border='1' id='body-cells'>
<tr>
	<th>Beginning of Time Period</td>
	<th>End of Time Period</td>
	<th>Number of Jumping Jacks</td>

</tr>

<tr id='child-cell'></tr>


</table>

<script type="application/json" id="first-set">
	<%# Get the last ten dots %>

	<%= @numbers.to_json.html_safe %>
</script>

<script type="application/json" id="beginning">
	<%= @numbers['from'].to_json.html_safe %>
</script>

<script type="application/json" id="ending">
	<%= @numbers['to'].to_json.html_safe %>
</script>