<h1>Kim's Training Blog</h1>
<p>Training to beat the world record of 61 jumping jacks in one minute.</p>

<a href="#">Home</a> <a href="#">Blog</a> <a href="#">About Me</a>
<select box></select>

<div id='previous'>
	<button id="<%#= @numbers.first.created_at.to_i %>"><</button>
</div>

<div id='next'>
	<button id="<%#= @numbers.last.created_at.to_i %>">></button>
</div>

<canvas id="myChart" width="1200" height="400"></canvas>

<table border='1' id='body-cells'>
<tr>
	<th>Beginning of Time Period</td>
	<th>End of Time Period</td>
	<th>Number of Jumping Jacks</td>

</tr>

<tr id='child-cell'></tr>


</table>

<script type="application/json" id="first-set">
	<%# Get the last ten dots %>

	<%= @numbers.to_json.html_safe %>
</script>

<script type="application/json" id="beginning">
	<%= @numbers['from'].to_json.html_safe %>
</script>

<script type="application/json" id="ending">
	<%= @numbers['to'].to_json.html_safe %>
</script>